[Desktop Entry]
Name=Daphne
Comment=Laserdisc game emulator
Exec=start.sh %f
Terminal=false
Type=Application
StartupNotify=true
Icon=daphne
Categories=emulators;
MimeType=application/zip;
#X-OD-NeedsDownscaling=true
#X-OD-Manual=gcw0readme.txt
